.container_body{
    background-image: linear-gradient(to right, #6bb88f , #392cc8, #ee69f3, #f26649);
    width: 100%;
    height: 100%;
    display:flex;
}

.container.image{
    display:flex;

}
.container.image p{
    font-size: 20px;
    color:#fff;
    font-family: 'Be VietNam Pro', sans-serif;
    margin-top:15px;
    margin-left:1%;
}
.container_nav_help{
    width:160px;
}
.container_body_title{
    text-align: center;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-top: 150px;
    margin-left: 15%;
}
.container_body_title h2{
    font-family: 'Be VietNam Pro', sans-serif;
}
.container_body_title p{
    font-size:10px;
    font-family: 'Be VietNam Pro', sans-serif;
}

.form_login{
    width: 450px;
    margin: 80px auto 100px auto;
    padding: 30px 20px;
    background: #f4f7f8;
    border-radius: 5px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.2);

    
}

.signin{
    display:block;
}

.form-login-btn{
    width: 100%;
    padding: 5px 0px;
    /* background: #27ae60; */
    border: none;
    border-radius: 3px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    text-align: center;
}
.form_login.container form {
    line-height: 2;

}
.form-login-forgot-password{
    display: flex;
    justify-content: space-between;
}
.btn.btn-primary{
    width:100%;
    border-radius: 10px;;
}
.form_check{
    padding: 0;
}

.mb-3.form-check{
    border-top:1px solid rgba(222, 218, 218, 0.5);;
    margin-top: 15px;
    
}
.mb-3-password{
    width:100%;
    background-color: #fff;
    border-radius: 0.25rem;
    display: flex;
    border:1px solid #ced4da;
}
.mb-3-password input{
    width:98%;
}
.login_input_show{
    padding: 4px 2px;
    display: block;
}
.login_input_hidden{
    padding: 4px 2px;
    display:none;
}

.tille-signin{  
    font-size: 15px;   
    color: #e2d4d4;     
    position: relative;
    bottom: 20px;
    left: 150px;
    width:60px;
    
}
.tille-signin p{
    padding:2px 10px;
    background-color: #f4f7f8;
    margin-bottom: 0;
}
.signin_social{
    display:flex;
    justify-content: space-between;
    position:relative;
    right:10px;
}

.btn.btn-facebook{
    width:45%;
    border-radius: 10px;
    background-color: #007bff;
    color:#fff;
}
.btn.btn-google{
    width:45%;
    border-radius: 10px;
    color:#fff;
    background-color: red;
}

.signin_not_have_account{
    margin-top: 20px;
}



.tille-signup{  
    font-size: 15px;   
    color: #e2d4d4;     
    position: relative;
    bottom: 15px;
    left: 150px;
    width:60px;
    
}
.tille-signup p{
    padding:2px 10px;
    background-color: #f4f7f8;
    margin-bottom: 0;
}
.signup_social{
    display:flex;
    justify-content: space-between;
    position:relative;
    right:10px;
}

.signup_input_show{
    padding: 4px 2px;
    display: block;
}
.signup_input_hidden{
    padding: 4px 2px;
    display:none;
}

.signup_input_show-re-reg{
    padding: 4px 2px;
    display: block;
}
.signup_input_hidden-re-reg{
    padding: 4px 2px;
    display:none;
}


.fill_tel{
    display:block;
}


.form_fill_tel_content_input{
    margin-bottom:10px;
}
.form_fill_tel_content_input input{
    border-radius: 0.25rem;
    height:40px;
    border:1px solid #ced4da;
}

.fill_code{
    display:block;
}


.form_fill_code_content_input{
    margin-bottom:10px;
}
.form_fill_code_content_input input{
    border-radius: 0.25rem;
    height:40px;
    border:1px solid #ced4da;
}

.fill_new_password{
    display:block;
}



.form_fill_new_password_content_input{
    margin-bottom:10px;
}
.form_fill_new_password_content_input input{
    border-radius: 0.25rem;
    height:40px;
    border:1px solid #ced4da;
}


.register{
    display: block;
}